
.content{
    lost-center: 900px;
    
}

  
.root{
    background-color:black;
    lost-column:1/1;
    height:45px;
}
.box-one{
    margin-top:10px;
    lost-column:1/4;
    height:45px;  
    background-color: rgb(4, 63, 22);
}
.box-two{
    margin-top:10px;
    lost-column:1/3;
    height:45px;  
    background-color:rgb(54, 2, 54); 
}
.box-three{
    margin-top:10px;
    lost-column:1/2;
    height:45px;  
    background-color:rgb(219, 111, 161); 
}
.box-four{
    margin-top:10px;
    lost-column:1/2;
    height:110px;
    background-color: rgb(21, 36, 46)
}
.box-four-one{
    margin-top:10px;
    lost-column:1/2;
   
    height:50px;
    background-color: rgb(21, 36, 46)
}
.box-four-two{
    margin-top:60px;
    lost-column:1/1;
   
    height:50px;
    background-color: rgb(21, 36, 46)
}

.box-five-one{
    background-color:rgb(64, 4, 104);
    height:50px;
    lost-column:1/2;
    margin-top:10px;
}
.box-five{
    background-color:rgb(64, 4, 104);
    height:110px;
    lost-column:1/2;
    margin-top:10px;
}
.box-five-two{
    background-color:rgb(64, 4, 104);
    height:50px;
    lost-column:1/1;
    margin-top:60px;
}
.end{
    margin-top: 10px;
    background-color:black;
    lost-column:1/1;
    height:45px;  
}

@media screen and (max-width: 450px) and (min-width: 300px) {

    .box-one {
        lost-column: 1/2  ;
    }

    .box-two{
        lost-column:1/1;
    }
    
    .box-four{
        lost-column:1/1;
        
    }
    .box-four-one{
        lost-column:1/2;
        lost-move:-1/2;
        
        
       
    }
    .box-four-two{
      margin-top:0px;
      lost-column:1/1;
      lost-move:1/1;
      }

    .box-five{
        lost-column:1/1;
        
    }
    .box-five-one{
        
        lost-column:1/2;
        
    }
    .box-five-two{
        lost-column:1/1;
        margin-top:0px;
       lost-move:1/1;
        
    }
}