<!DOCTYPE html>
<head>
<title>My page...</title>
<meta charset="utf-8">
 <meta name="keywords" content="sample form">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"  href="css/style.css">
</head>
<body>
<header>
<p>Header</p>
<div class="logo"><div class="topic">Logo</div></div>
<div class="nav"><div class="topic">Navigation</div></div>
</header>
<div class="main">
<div class="content">
<label>Main</label>
</div>
<div class="box1"><div class="topic1">Left</div></div>
<div class="box2"><div class="topic1">Left</div></div>
<div class="box3"><div class="topic1">Center</div></div>
<div class="box4"><div class="topic1">Right</div></div>
</div>
<footer>
<p>Footer</p>
<div class="box5"><div class="topic">Left</div></div>
<div class="box6"><div class="topic">Center</div></div>
<div class="box7"><div class="topic">Right</div></div>

</footer>




</body>
</html>
