
<section class="container" ng-controller="DatepickerPopupDemoCtrl">

<section class="journey-align">
<section class="col-lg-2 col-lg-offset-1">
<div class="form-group">
  <label class="heading">From:</label>
  
 <div>
    <select id="datepick" ng-model="From" ng-init="From='000'" ng-change="selectChange()" class="ui dropdown">
        <option value="000">--select--</option>
        <option value="001">Chennai</option>
        <option value="002">Coimbatore</option>
        <option value="003">Trichy</option>
        <option value="004">Salem</option>
    </select>
 </div>
 </div>
</section>

<section class="col-lg-2">
<div class="form-group">
  <label class="heading">To:</label>
  <div>
   <select ng-model="To" id="datepick" class="ui dropdown">
	<option>--select--</option>
	<option  ng-disabled="disableInputs1">Chennai</option>
	<option  ng-disabled="disableInputs2">Coimbatore</option>
	<option ng-disabled="disableInputs3">Trichy</option>
	<option ng-disabled="disableInputs4">Salem</option>
  </select>
</div>
</div>
</section>


<section class="col-lg-2">
<label class="heading">Onward Date</label>
<div class="form-group">
  <div class='input-group'>
      <input type='text' class="form-control date-text" 
             datepicker-popup
             ng-model="model.startDate" 
             is-open="opened.start" 
             ng-click="opened.start = !opened.start" 
             ng-readonly='true'
			 min-date="today"/>
      <span class="input-group-addon date-text" for='start' 
            ng-click="opened.start = !opened.start; $event.stopPropagation()">
          <i class="glyphicon glyphicon-calendar"></i>
      </span>
  </div>
</div>
</section>

<section class="col-lg-2">
 <label class="heading">Return Date</label>
 <div class="form-group">
 <div class='input-group'>
 <input type='text' 
class="form-control date-text" 
datepicker-popup
ng-model="model.endDate" 
is-open="opened.end" 
min-date="model.startDate"
ng-click="opened.end = !opened.end"
ng-readonly='true'/>
 <span class="input-group-addon date-text" 
ng-click="opened.end = !opened.end;  $event.stopPropagation()">
 <span class="glyphicon glyphicon-calendar extern-dateicon"></span>
 </span>
 </div>
</div>
</section>

<section class="col-lg-2">
<a href="#!/search-results"><button type="button" class="search-bus"><label class="search"/>Search Bus</label></button></a>
</section>

</section>

</section>

