.journey-align{
    margin-top:15%;
}

.heading
{
	padding-left:17px;
}
.text-box
{
	margin-left:20px;
}
.search-bus
{
	background-color: #d84e55;
    padding: 6px 6px 6px 6px;
    border: none;
    border-radius: none;
    margin-top: 20px;
}
.search
{
	color: white;
    font-size: 15px;
    padding-top: 2px;
}

select#datepick 
{
	width: 150px;
    padding: 6px 0px 7px 0px;
    margin-left: 13px;
	background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

input.form-control.date-text 
{
    background-color: white;
}

span.input-group-addon.date-text
{
	background-color: white;
}