:required  {  
   background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
   background-position:right top;
  }
  
  .dat{
    
  }

  .view-box{
            padding: 50px;
      }

  .search-but{
    margin-top: 25px;
  }